@model FinalSis457Jmfa.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <h1>Iniciar Sesión</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" role="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="usuario" class="control-label"></label>
                        <input asp-for="usuario" class="form-control" />
                        <span asp-validation-for="usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="clave" class="control-label"></label>
                        <input asp-for="clave" class="form-control" />
                        <span asp-validation-for="clave" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="recordarme" id="recordarme">
                        <label class="form-check-label" asp-for="recordarme">Recordarme</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-lock"></i> Iniciar Sesión
                        </button>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a asp-controller="Account" asp-action="ResetPasswor">¿Se te olvidó la contraseña?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>