
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-controller="Account" asp-action="Logout" method="post">
    <button class="btn btn-danger py-4 px-lg-5 d-none d-lg-block">Cerrar Sesión<i class="fa fa-arrow-right ms-3"></i></button>
</form>
